<config>
    <user>
        <username>Julius</username>
        <accessToken>Julius-token</accessToken>
    </user>
    <projects>
        <project>
            <id>507f191e810c19729de860ea</id>
            <rootPath>D:\Julius\.docear\projects\project1</rootPath>
            <revision>1</revision>
        </project>
    </projects>
</config>